html, body{
	height: 100%;
}

#navicon{
	position: relative;
	top: 5px;
	opacity: .55;
}

#navbutton{
	background-color: #4285f4;
	color: white;
	
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;

	padding: 5px 15px;
	border: 1px solid #4285f4;
}

#topnav{
	text-align: right;
}

#topnav li{
	display: inline-block;

	margin: 5px;

	font-family: arial, sans-serif;
	font-size: 13px;
}

#logo{
	display: block;
	margin: auto;
}

#searchbar{
	background: transparent;
}

#inputform{
	background-color: white;
	border: 1px solid #c6c6c6;
}

.button{
	background-color: #f2f2f2;
	color: #757575;
	
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	
	padding: 10px 24px;
	border: 1px solid #c6c6c6;
	border-radius: 2px;
	cursor: pointer;
}

.buttons{
	margin-top: 30px;
}

#searchbar, .buttons{
	text-align: center;
	
}

.centered{
	position: relative;
	top: 25%;
}