html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

#navicon{
	position: relative;
	top: 8px;
	opacity: .55;
}

#navbutton{
	background-color: #4285f4;
	color: white;
	
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;

	padding: 5px 10px;
	border: 1px solid #4285f4;
}

#topnav{
	text-align: right;
}

#topnav li{
	display: inline-block;

	position: relative;
	right: 7px;
	margin: 5px;

	font-family: arial, sans-serif;
	font-size: 13px;
}

#logo{
	display: block;
	margin: auto;
}

#searchbar{
	background: transparent;
}

#formsection{
	display: block;
	position: relative;
	top: 6px;
}

#inputform{
	background-color: white;
	border: 1px solid #c6c6c6;
}

.button{
	background-color: #f2f2f2;
	color: #757575;
	
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;
	
	padding: 10px 24px;
	border: 1px solid #c6c6c6;
	border-radius: 2px;
	cursor: pointer;
}

.buttons{
	margin-top: 30px;
}

#searchbar, .buttons{
	text-align: center;
	
}

.centered{
	position: relative;
	top: 15%;
}

#footer{
	position: fixed;
	bottom: 0;
	width: 100%;

	background-color: #f2f2f2;
	border: 1px solid #c6c6c6;

	padding-top: 12px;
}

#footer li{
	font-family: arial, sans-serif;
	font-size: small;
	opacity: .55;

	display: inline-block;

	position: relative;
	bottom: 5px;
	margin: 10px;
}

#left-footer{
	display: inline;
	float: left;
}
#left-footer li{
	text-align: left;
}

#right-footer{
	position: relative;
	right: 10px;

	display: inline;
	float: right;
}
#right-footer li{
	text-align: right;
}
