body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', arial, sans-serif;
}

#top{
	height: 13%;

	background-color: #FAFAFA;
	border: 1px solid #c6c6c6;
}

#logo{
	display: inline;
	position: relative;
	top: 20px;
	left: 10px;
}
#searchbar{
	display: inline;
	margin-left: 15px;
}
#searchbar input{
	background-color: white;
	
	border: medium none;
}


#topleft-side{
	display: block;
	float: left;
}

#topleft-under{
	margin-left: 90px;
	margin-top: 25px;
}

#topleft-under li{
	display: inline;
	
	font-family: 'Roboto',arial,sans-serif;
	font-size: 13px;
	color: #666;

	margin: 10px;
}

.bear-right li{
	margin-left: 30px;
}


#topright-side{
	float: right;
}
#topright-side .navitem{
	display: block;
	float: right;

	position: relative;
	margin: 8px;
}

#navicon{
	opacity: .55;
}

#navbutton{
	background-color: #4285f4;
	color: white;
	
	font-size: 13px;
	font-family: arial, sans-serif;
	font-weight: bold;

	padding: 5px 10px;
	border: 1px solid #4285f4;

	position: relative;
	bottom: 5px;
}

#content {
	position: relative;
	left: 125px;

	width: 35%;
}
#footer{
	height: 20%;
}

.result{
	margin-top: 30px;
}

.result-name{
	font-weight: normal;
	font-size: 18px;
	font-family: 'Roboto', arial, sans-serif;
	color: #1a0dab;

	line-height: 1.2;
	text-align: left;
}

.citation{
	font-size: 14px;
	color: #006621;
	font-style: normal;
	font-family: 'Roboto', arial, sans-serif;
	font-weight: normal;
	
	text-align: left;
}
.description{
	line-height: 1.4;
	color: #545454;
	
	font-weight: normal;
	font-size: small;
	font-family: 'Roboto', arial, sans-serif;	
	text-align: left;

	/*set the width of the div to some max value, and make words wrap to next line when hits the end and word is too long??*/
	word-wrap: break-word;
	width: 500px;
}

.date{
	color: #808080;
}


.result p{
	margin-top: -12px;
}

#related-searches h2{
	font-family: 'Roboto', arial, sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #222;
}